.containerCard{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;  
}
.card{
  background-color: aqua;
  padding: 2rem;
}
.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  }
  
  .card__content {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  }
  
  .card__autor {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
  }
  
  .card__delete-button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 2rem;
  }