/* LOGIN */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* 
  background-color: #252326 ; 
  background-color: #2d5e4c; 
  background-color: #13444d; 
  background-color: #939473;
//////////////////////////
  background-color: #d4c6a0;
  background-color: #bc9567 ; Navbar
  background-color: #fbf6cf;
  background-color: #e5b45c;
  */

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #54142c;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}
