.container{
    display: grid;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    grid-template-areas: "nav nav"
    "aside section"
    "aside section";
    
}
nav{
  grid-area: nav;
  display: flex;
  background-color: aqua;
  margin: 0.5rem;
  margin-bottom: 5rem;
}
aside{
  grid-area: aside;
  background-color: green;
  margin: 0.5rem;
}
section{
  grid-area: section;
  background-color: blue;
  margin: 0.5rem;
} 
