.container{
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "nav nav"
    "aside section"
    "aside section";
  /* grid-template-columns: repeat(3, 1fr);
  grid-gap: 1ch;
  grid-auto-rows: minmax(2rem, auto); */
}
nav{
  grid-area: nav;
}
aside{
  grid-area: aside;
}
section{
  grid-area: section;
} 
